<a href="https://colab.research.google.com/github/Yobany1210/TalentoTech/blob/main/Talento_tech_Pr%C3%A1ctica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Práctica 1 de Talento Tech:** incluye import un Dataset

In [ ]:
# Paso 1: Impor la libreria requerida
# Paso 2: Debo tener el archivo en una carpeta
# Paso 3: Debo establecer una conexión con la carpeta
# Paso 4: Ejecute la celda de la conexión y revisar que este Ok



#**Conectarse con el Drive**

##Ingreso de nuevos datos

In [ ]:
from google.colab import drive # Traemos la clase drive, dentro del módulo colab, del paquete google
drive.mount('/content/drive') # Establecemos la conexión através del método mount

Mounted at /content/drive

In [ ]:
# Establezco la connección con la fuente y con el Dataset de prueba
path = '/content/drive/MyDrive/Colab Notebooks/Telento Tech/Actividad 1 Ventas.xlsx'

##Importamos Librerias

In [1]:
# Importamos la libreria para la manipulación de Datos llamada pandas
import pandas as pd

# **Creación y Lectura de DataFrames:**

*   pd.DataFrame(data): Crea un DataFrame a partir de datos.
*   pd.read_csv('archivo.csv'): Lee un archivo CSV y crea un DataFrame.
*   pd.read_excel('archivo.xlsx'): Lee un archivo Excel y crea un DataFrame.

#**Visualización y Exploración de Datos:**

df.head(): Muestra las primeras filas del DataFrame.

df.tail(): Muestra las últimas filas del DataFrame.

df.info(): Muestra información sobre el DataFrame.
 incluyendo tipos de datos y valores no nulos.

df.describe(): Proporciona estadísticas descriptivas para columnas numéricas.

df.shape: Devuelve una tupla con la cantidad de filas y columnas del DataFrame.

df.columns: Devuelve una lista con los nombres de las columnas del DataFrame.

In [ ]:
# Creamos una DataFreme de pandas con los datos administrados
df = pd.read_excel(path)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
# Ejercicio 1: mostrar las primeras filas del Datafremes
print('Ejercicio 1: mostrar las primeras filas del Datafremes')
print(df.head(10))
#print("\n")

In [ ]:
# Ejercicio 2: calcular el total de ventas por región
print('Ejercicio 2: calcular el total de ventas por región')
ventas_por_region = df.groupby('Region')['Ventas'].mean()
print(ventas_por_region)
print("\n")
print(df.head(10))

In [ ]:
# Ejercicio 3: filtrar el Dataframe para mostrar solo las ventas realizadas por David
print('Ejercicio 3: filtrar el Dataframe para mostrar solo las ventas realizadas por David')
ventas_david = df[df['Vendedor'] == 'David']
print(ventas_david)
print("\n")

In [ ]:
# Ejercicio 4: Calcular el promedio de ventas por producto
print('Ejercicio 4: alcular el promedio de ventas por producto')
ventas_por_producto = df.groupby('Producto')['Ventas'].mean()
print(ventas_por_producto)
print("\n")

In [ ]:
# Ejercicio 5: Orientar el Dataframe en orden ascendente
print('Ejercicio 5: Orientar el Dataframe en orden ascendente')
df_ordenado = df.sort_values(by='Ventas', ascending=False)
print(df_ordenado)
print("\n")

##Manipulación de Datos

In [ ]:
# Ejercicio 6: Filtrar las filas con ventas mayores a 10000
print('Ejercicio 6: Filtrar las filas con ventas mayores a 10000')
df_filtrado = df[df['Ventas'] >  10000]
print(df_filtrado)
print("\n")

## Agregación y Agrupación de Datos:

*   Calcular el total de ventas por región.
*   Calcular el total de ventas por producto.

In [ ]:
# Ejercicio 7: Orientar el Dataframe en orden ascendente
print('Ejercicio 7: Orientar el Dataframe en orden ascendente')
df_ordenado = df.sort_values(by='Ventas', ascending=False)
print(df_ordenado)
print("\n")

In [ ]:
# Ejercicio 8: Eliminar la columna vendedor
print('Ejercicio 8: Eliminar la columna vendedor')
df_sin_vendedor = df.drop(columns=['Vendedor'])
print(df_sin_vendedor)
print("\n")

In [ ]:
df.describe()

In [ ]:
# Ejercicio 9: Calcular el total de ventas por región
print("Ejercicio 9: Calcular el total de ventas por región")
ventas_por_region = df.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")

In [ ]:
# Ejercicio 10: Calcular el total de ventas por producto
print("Ejercicio 10: Calcular el total de ventas por producto")
ventas_por_producto = df.groupby('Producto')['Ventas'].sum()
print(ventas_por_producto)
print("\n")

In [2]:
# Crear un Dataframe de Pandas de una persona
data = {
    'id' : ['1', '2', '3', '4', '5'],
    'weight' : ['144.5', '5.9', '33', 'M', '541'],
    'height' : ['David', 'Karen', 'David', 'Karen', 'David'],
    'age' : [8287, 6989, 11420, 12948, 20038],
    'gender' : [8287, 6989, 11420, 12948, 20038]
}

df_persona = pd.DataFrame(data)

In [3]:
df_persona.head()

  id weight height    age  gender
0  1  144.5  David   8287    8287
1  2    5.9  Karen   6989    6989
2  3     33  David  11420   11420
3  4      M  Karen  12948   12948
4  5    541  David  20038   20038